version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: root
    ports:
      - "3406:3306"
    volumes:
      - ./.data/mysql:/var/lib/mysql
  redis:
    image: redis:7.0
    ports:
      - "6479:6379"
    volumes:
      - ./.data/redis:/data